assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db


dist/*
framework/*
protected/extensions/*
protected/tcpdf/*
protected/config/*
fonts/*
requirements/*
vendor/*